.About {
}

.about-split {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.about-split-text {
  flex-grow: 1;
  flex-shrink: 1;
  display: inline;
}

.about-split-text h3 {
  padding: 0 !important;
  margin: 0 !important;
}

.about-image {
  margin: 1em 2em 1em 0;
  filter: grayscale(100);
  border: solid 1px #494949;
  background-color: #bdbdbd;
  float: left;
  height: 150px;
  width: 150px;
}
