.project-item {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.project-item-images {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
}

.project-bg-img {
  cursor: zoom-in;
  opacity: 0.4;
  height: 300px;
  width: 300px;
  border-radius: 0px;
  border: solid 1px #b1b1b1;
  margin: 1em;
  transition: opacity 1s ease-in-out;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.project-bg-img:hover {
  opacity: 0.9;
  transition: opacity 1s ease-in-out;
}

.projects .project-item h1 {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #c300ff;
  padding: 0 0 5px 0;
  border-bottom: solid 2px rgba(195, 0, 255, 1);
  /* border-top: solid 2px rgba(195, 0, 255, 1); */
  /* border-top: solid 3px rgba(195, 0, 255, 0.2); */
}

.project-item-header p {
  margin: 0px;
}

.project-item-header {
  display: flex;
  flex-direction: column;
}

.project-item-link-large {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em 0 2em 0;
}

.project-item-link-large a {
  padding: 3px;
  margin: 0 15px 0 15px;
  transition: color 1s ease-out;
  color: darkgray;
  font-size: 1.3em;
  text-decoration: none;
  /* border-bottom: solid 1px darkgray; */
}

.project-item-link-large a:hover {
  transition: color 0.4s ease-in;
  color: #c300ff;
  /* border-bottom: solid 1px #c300ff; */
}

.project-item-link {
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* justify-content: center;
  align-items: center;*/
  margin: 1em 0 1em 0;
}

.project-item-link a {
  /* padding: 3px; */
  /* margin: 0 15px 0 15px; */
  transition: color 0.4s ease-in, border 0.4s ease-in;
  color: darkgray;
  /* font-size: 1.3em; */
  text-decoration: none;
  padding: 0 3px 1px 3px;
  margin: 5px 10px 0 0;
  border-bottom: solid 1px darkgray;
  /* border-bottom: solid 1px darkgray; */
}

.project-item-link a:hover {
  transition: color 0.4s ease-in, border 0.4s ease-in;
  color: #c300ff;

  border-bottom: solid 1px #c300ff;
}

.project-tags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-tags li {
  display: block;
  padding: 5px;
  margin: 10px 5px 0 5px;
}

.project-item-footer {
  font-size: 0.9em;
}
