.hidden {
  opacity: 0;
}

.page-curtain {
  left: 0;
  top: 0;
  background-color: black;
  animation: fadeIn-part ease-out 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn-part {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn ease-out 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fade-out {
  opacity: 1;
  animation: fadeOut ease-in 1s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fade-in.one {
  opacity: 0;
  animation: fadeIn ease-in 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.zoom-img {
  position: relative;
  border: solid 1px black;
  cursor: zoom-out;
  max-width: 80%;
  max-height: 80%;
}

.image-zoom {
  left: 0;
  top: 0;
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-zoom h1 {
  padding: 1em;
  color: #ffffff !important;
  border: none !important;
  opacity: 0.9;
}

.logo-overlay {
  opacity: 0.2;
  position: fixed;
  bottom: -0.5em;
  left: 0em;
  height: 100px;
  width: 100px;
  z-index: 101;
}

.image-zoom-desc {
  padding: 1.2em;
  opacity: 0.5;
}

.image-zoom-place {
  margin: 1em 0 0 0;
  color: white;
  opacity: 0.5;
  letter-spacing: 2px;
}
.image-zoom-hints {
  margin: 0;
  color: white;
  opacity: 0.2;
  padding: 0px 3em 0px 3em;
}

.image-zoom-navigation {
  font-size: 2em;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  z-index: 111;
}

.image-zoom-navigation-right {
  position: fixed;
  right: 10px;
  top: 50%;
}

.image-zoom-navigation-left {
  position: fixed;
  left: 10px;
  top: 50%;
}
