.project-list a,
.project-list a:visited {
  margin: 1em;
  padding: 1em;
  color: #969696;
  text-decoration: none;
  background-color: rgba(206, 206, 206, 0.1);
  /* border: solid 1px gray; */
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out,
    background 0.5s ease-in-out;
}

.project-list a:hover {
  color: #707070;
  opacity: 1;
  background-color: rgba(220, 104, 255, 0.1);
  transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out,
    background 0.5s ease-in-out;
}
.project-list a:hover .list-item-mini-img {
  transition: opacity 1s ease-in;
  opacity: 1;
}

.project-list a:hover > h2 {
  transition: color 0.5s ease-in-out;
  color: #c300ff !important;
}

.list-item h2 {
  margin: 0px !important;
}

.list-item p {
  margin: 5px 0 0 0 !important;
}

.list-item-split {
  display: flex;
  flex-direction: row;
}

.list-item-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.list-item-mini-img {
  filter: grayscale(100%);
  border: solid 3px #ffffff;
  /* border-radius: 1px; */
  opacity: 0.5;
  margin: 10px 10px 0 0;
  transition: opacity 1s ease-in;
  height: 100px;
  width: 100px;
  background-color: rgba(206, 206, 206, 0.1);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.slow-fade-in {
  animation: fadeIn ease-out 1;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 1s;
}
