.proj-filter-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 0 2em 0;
}

.proj-filter-toggle {
  display: flex;
  justify-content: flex-end;
}

.tag-current {
  margin: 0 0 2em 0;
  font-size: 0.9em;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  padding: 0;
  color: rgb(158, 158, 158);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tag-current p {
  /* padding: 0; */
  margin: 0 !important;
  text-align: center;
}

.tag-current b {
  margin: 5px;
  font-weight: normal;
  text-align: center;
  color: rgba(195, 0, 255, 0.5);
}

.tag-button {
  font-style: normal;
  margin: 5px;
  padding: 5px 20px 5px 20px;
  border: solid 1px #f1f1f1;
  color: #c7c7c7;
  text-decoration: none;
  transition: background 1s ease, color 1s ease;
  text-align: center;
}

.tag-button:hover {
  border: solid 1px #fff;
  transition: background 1s ease, color 1s ease;
  background-color: #d4d4d4;
  color: white;
}

.tag-filter-list {
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.tag-filter-list a,
.tag-filter-list a:visited,
.tag-filter-list a:active,
.tag-filter-list a:focus {
  margin: 3px 20px 0 0;
  color: #c7c7c7;
  text-decoration: none;
  transition: color 1s ease;
}

.tag-filter-list a:hover {
  color: #c300ff;
  transition: color 1s ease;
}
