@media only screen and (max-device-width: 600px) {
  .nav-bar {
    flex-direction: column;
  }

  .nav-bar a,
  .nav-bar .active-nav {
    margin: 5px 0 5px 0;
  }

  .project-list a,
  .project-list a:visited {
    opacity: 1 !important;
  }

  .list-item-img-container {
    justify-content: center;
  }

  .tag-current {
    flex-direction: column;
  }

  .hidden-on-mobile {
    display: none;
  }
}
